<footer class="app-footer">
    <span><a href="https://github.com/Bkoji1150">Kojitechs!!</a> © 2020</span>
    <span class="ml-auto">Powered by <a href="https://github.com/Bkoji1150">Kojitechs</a></span>
    {% block extrafooter %}
    {% endblock %}
</footer>
